[Unit]
Description=Listen for Github push notifications of new SDCI repo packages
After=network.target

[Service]
User=user
WorkingDirectory=/var/lib/sdci-ci-runner
Environment=FLASK_APP=webhook.py
Environment=FLASK_RUN_HOST=100.92.73.40 # This is Mig's sd-ssh tailscale connection
Environment=SDCI_REPO_WEBHOOK_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
ExecStart=/usr/bin/python3 -m flask run
Restart=always

[Install]
WantedBy=multi-user.target
