[Unit]
Description=Listen for Github push notifications of new SDCI repo packages
After=network.target

[Service]
User=user
WorkingDirectory=/var/lib/sdci-repo-webhook
Environment=FLASK_APP=webhook.py
Environment=FLASK_RUN_HOST=100.92.73.40
Environment=SDCI_REPO_WEBHOOK_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
Environment=SDCI_REPO_WEBHOOK_BRANCH="main"
Environment=SDCI_REPO_WEBHOOK_FLAG_FILE="run-me"
Environment=SDCI_REPO_WEBHOOK_WORKSPACE="/home/user/projects/securedrop-workstation"
ExecStart=/usr/bin/python3 -m flask run
Restart=always

[Install]
WantedBy=multi-user.target